@import url("reset.css");
@import url("grid.css");

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
  font-size: 14px;
  line-height: normal;
}
:root {
  --black: #000;
  --white: #fff;
  --bg_color: #262a2f;
  --light_grey_bg: #f1f2f6;
  --grey-text: #5b5b5b;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

input,
button :focus,
select {
  outline: none;
}
input:focus,
button:focus,
select:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.just_center {
  display: flex;
  justify-content: center;
}
.just_btwn {
  display: flex;
  justify-content: space-between;
}
input[type="text"] {
  font-size: 14px;
  border: none;
}
.red_btn {
  border: none;
}
/* banner top  start  */
.banner__top {
  color: var(--white);
  background-color: var(--bg_color);
  padding-bottom: 13px;
  padding-top: 8px;
  background-image: url("../img/bitmap.png");
  background-repeat: no-repeat;
}
header .container,
.banner__top .container,
.header_filter .container {
  display: flex;
  align-items: center;
}
.banner__date p:first-child {
  font-size: 44px;
  font-weight: 900;
  line-height: 44px;
}
.banner__date p:last-child {
  opacity: 0.7;
  font-size: 12px;
}
.banner__name {
  font-size: 23px;
  font-weight: 500;
  margin-left: 35px;
}

/* banner top end  */
/* hovers */
.header__lang span:after,
.header__lang li,
.header__login img,
.header__cart img,
.header__search button,
.header__dropdown select,
.header__dropdown img,
.header__check > div label,
.more img,
.red_btn,
.red_btn span,
.event__img__part img {
  transition: all 0.3s;
}

.header__search button:hover,
.more:hover img {
  transform: scale(1.2);
}
.header__cart:hover {
  background-color: #d11f1f;
}

.header__check > div:hover label,
.header__dropdown:hover select,
.event__img__part:hover img {
  transform: scale(1.1);
}
.header__lang:hover span::after {
  background-image: url("../img/red_ar.svg") !important;
  cursor: pointer;
}

.header__dropdown:hover select {
  color: #000;
}
.header__dropdown:hover img {
  opacity: 0.4;
}
.red_btn:hover span {
  color: white;
}
.red_btn:hover {
  background-color: #d11f1f;
}
.red_btn:focus {
  outline: none;
}
.red_btn:active {
  background-color: #f1f2f6;
  outline: none;
}
.red_btn:active span {
  color: #5b5b5b;
}
.red_btn:active svg path {
  fill: #5b5b5b;
}
.full__size_banner .event__img__part:hover img {
  transform: none;
}
.actual_search__right form {
  position: relative;
}
.invalid {
  position: absolute;
  bottom: 15px;
  right: 50px;
  max-width: 128px;
  color: #f43c3c;
  font-size: 13px;
  display: none;
}
/* .actual_search__right input:invalid + div {
  display: block;
} */
.valid {
  background-image: url("../img/veri.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
}
/*  */
/* header start */

.header__logo {
  width: 11.3%;
}

.header__lang {
  position: relative;
  cursor: pointer;
  margin-left: 30px;
  width: 3.4%;
}
.header__lang ul {
  position: absolute;
  width: 60px;
  background-color: #fff;
  padding: 10px 15px;
  z-index: 5;
  right: 21px;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  left: -10px;
  margin-top: 5px;
  display: none;
}
.header__lang li:last-child {
  margin-top: 10px;
}
.header__lang span {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
}
.header__lang span::after {
  content: "";
  display: inline-block;
  height: 8px;
  width: 10px;
  background-image: url("../img/angle-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 5px;
  vertical-align: middle;
}
.header__search {
  display: flex;
  width: 55.5%;
}
.header__search form {
  margin-left: 50px;
  width: calc(100% - 70px);
  display: flex;
  align-items: center;
}

.header__search input {
  width: calc(100% - 20px);
  height: 100%;
  border: none;
}
.header__search button,
.city_check_btn {
  width: 17px;
  height: 17px;
  background-image: url("../img/search.svg");
  background-color: transparent;
  border: none;
  vertical-align: middle;
  background-repeat: no-repeat;
}
.header__login,
.header__cart {
  display: flex;
  align-items: center;
}
.header__login {
  height: 80px;
  border-left: 1px solid #f1f2f6;
  padding-left: 42px;
  margin-left: 40px;
  margin-right: 3.5%;
}
.header__login span {
  font-weight: bold;
  margin-left: 10px;
  color: var(--black);
}
.wrap_cart {
  width: 13.1%;
}
.header__cart {
  height: 100%;
  background-color: #f43c3c;
  width: 100%;
  height: 80px;
}
.header__cart span {
  font-size: 18px;
  font-weight: bold;
  color: var(--white);
  margin-left: 10px;
}
.header__login,
.header__cart,
.header__search button,
.more {
  cursor: pointer;
}
/* header botttom */
.header_filter {
  background-color: var(--light_grey_bg);
  padding: 22px 0;
}

/* check box  start */
.header__check {
  width: 67.6%;
}
.header__check label,
.check_block label {
  position: relative;
  color: #5b5b5b;
  cursor: pointer;
}
.header__check input[type="checkbox"],
.check_block input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
}
.header__check label::before,
.check_block label::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: 1px;
  left: -26px;
  height: 16px;
  width: 16px;
  border: solid 1px #c5c6ca;
  cursor: pointer;
}
.header__check > div {
  cursor: pointer;
}
.header__check label::after,
.check_block label::after {
  cursor: pointer;
  position: absolute;
  content: "";
  display: inline-block;
  height: 6px;
  width: 9px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  left: -22px;
  top: 4px;
  transform: rotate(-45deg);
}
.header__check input[type="checkbox"] + label::after,
.check_block input[type="checkbox"] + label::after {
  content: none;
}
.header__check input[type="checkbox"]:checked + label::before,
.check_block input[type="checkbox"]:checked + label::before {
  background-color: #f43c3c;
  border: solid 1px #f43c3c;
}
.header__check input[type="checkbox"]:checked + label::after,
.check_block input[type="checkbox"]:checked + label::after {
  content: "";
}
/* check box end */
.fixed__filter_btn {
  position: relative;
}
.fixed__filter .header__selects {
  width: 100%;
}
.header__fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header__top {
  background-color: white;
}
.banner__top,
.header__top,
.header_filter {
  position: relative;
  /* z-index: 101; */
}
.fixed__filter {
  flex-direction: column;
  position: absolute;
  width: 290px;
  height: auto;
  z-index: 9;
  background-color: var(--white);
  align-items: flex-start;
  padding-bottom: 30px;
  padding-top: 20px;
  top: 45px;
  border-top: 1px solid #f1f2f6;
  padding-left: 30px;
  box-shadow: 0 12px 14px 0 rgba(38, 42, 47, 0.1);
  left: -30px;
}
.fixed__filter .header__check {
  width: 290px !important;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 27px;
}
.fixed__filter .header__check > div {
  width: 95px;
  display: flex !important;
  margin-right: 42px;
  margin-top: 20px;
}
.fixed__filter .header__check input[type="checkbox"] {
  margin-right: 11px;
}
.fixed__filter .date_drop {
  margin-left: 33px;
}
.fixed__filter .header__selects {
  padding-bottom: 20px;
  position: relative;
}
.fixed__filter .header__selects::after {
  content: "";
  width: 290px;
  height: 1px;
  background-color: #e7e8e9;
  position: absolute;
  bottom: 0;
  left: -30px;
}
.fixed__filter .header__dropdown {
  width: 105px;
}
.mob_filter {
  position: relative;
}
/* dropdown start */

.header__dropdown {
  position: relative;
  cursor: pointer;
}
.header__dropdown > div:first-child {
  align-items: center;
  display: flex;
}

.header__dropdown span {
  margin-left: 10px;
  margin-right: 7px;
}

.header__selects {
  width: 19%;
}
/* dropdown end */
.menu__icon {
  display: none;
}
/* header end */
/* big banner  start */
.big__banner {
  background-image: url("../img/big_baner.png");
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 94px;
  color: var(--white);
}
h1 {
  font-size: 60px;
  font-weight: bold;
}
.big__banner__content h1 {
  margin-bottom: 25px;
}
.big__banner__content {
  width: 50%;
}
.big__banner__date > span {
  font-size: 40px;
}
.date__block div {
  display: inline-block;
}
.big__banner__date div p:first-child {
  font-size: 18px;
}
.date__block div p:last-child {
  opacity: 0.5;
}
.red_btn {
  width: 229px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f43c3c;
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.red_btn span {
  margin-left: 14px;
}
.big__banner__content > div:last-child {
  display: flex;
  margin-top: 48px;
  align-items: center;
}
.banner__location div {
  display: inline-block;
  color: var(--white);
  max-width: 220px;
}
.banner__location {
  margin-left: 40px;
}
.banner__location img {
  margin-right: 14px;
}
/* big banner  end */

/* slider top start */
.top__slider__sec {
  background-color: var(--bg_color);
  padding: 32px 0;
}
.top__slider__sec .container {
  position: relative;
}
.top__slider {
  padding-right: 42px;
}
.top__slide {
  color: var(--white);
  display: flex !important;
}
.slide__text__part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 64%;
  max-width: 170px;
  margin-left: 20px;
}
.slide__img__part {
  width: 70px;
  overflow: hidden;
  position: relative;
  height: 96px;
}
.slide__img__part img {
  max-height: 100%;
}
.slide__text__part > p {
  font-weight: 500;
}
.slide__text__part .date__block {
  display: flex;
  opacity: 0.8;
}
.slide__text__part .date__block span {
  margin-right: 6px;
  font-size: 20px;
}
.slide__text__part .date__block div p:first-child {
  font-size: 12px;
}
.slide__text__part .date__block div p:last-child {
  font-size: 11px;
}
.arrow_prev,
.arrow_next {
  width: 10px;
  height: 20px;
  background-image: url("../img/slie_ar_white.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}
.arrows__block {
  display: flex;
  position: absolute;
  bottom: -20px;
  right: 30px;
}
.arrow_prev {
  transform: scale(-1, 1);
  margin-right: 15px;
}
a:hover span,
.header__lang li:hover,
.header__login:hover span {
  color: #f43c3c;
}
.header__login:hover svg g {
  fill: #f43c3c;
}

a:active span,
.header__lang li:active {
  color: #5a5f65;
}
.arrows__block > div:not(.slick-disabled):hover {
  background-image: url("../img/hov_slide.svg");
}

.slick-arrow.slick-disabled {
  background-image: url("../img/slide_arow.svg");
}
.arrow_prev.slick-disabled {
  transform: scale(1, 1);
}
.arrow_next.slick-disabled {
  transform: scale(-1, 1);
}
.top__slide.slick-current {
  position: relative;
}
.top__slide.slick-current::after,
.top__slide.slick-current::before {
  position: absolute;
  content: "";
  left: 0;
  z-index: 1;
}
.top__slide.slick-current::before {
  width: 30px;
  height: 30px;
  top: 0%;
  background-image: url("../img/hot.svg");
}
.top__slide.slick-current::after {
  width: 41px;
  height: 2px;
  bottom: 0;
  background-color: #f43c3c;
}
/* slider end */
/* events start */
.big__event {
  display: flex;
  padding: 40px;
  padding-bottom: 0px;
  background-image: url("../img/event_bg.png");
  background-repeat: no-repeat;
  color: var(--white);
  background-size: cover;
  height: 400px;
}
.event__img__part {
  position: relative;
  overflow: hidden;
  height: 390px;
  margin-right: 40px;
  width: 280px;
}
.event__text__part {
  width: calc(100% - 320px);
}
.event__text__part > p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.event__text__part .date__block {
  display: flex;
  align-items: flex-start;
}
.event__text__part .date__block > span {
  font-size: 30px;
  margin-left: 8px;
  margin-right: 12px;
}
.event__text__part .date__block div p:last-child {
  font-size: 12px;
  opacity: 0.5;
}
.event__text__part .red_btn {
  width: 159px;
  margin-top: 20px;
}
.event__details {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.event__details img {
  width: 16px;
  height: 20px;
  margin-right: 8px;
}
.big__event .date__block {
  margin-bottom: 60px;
}
.more__location span {
  border-bottom: 1px dotted white;
}
.small_event .more__location span {
  border-bottom: 1px dotted black;
}
h2 {
  font-size: 40px;
  font-weight: bold;
}
.events__sec {
  padding-top: 70px;
}
.event {
  margin-top: 40px;
}
.small_event .event__text__part {
  width: auto;
}
.small_event .event__text__part > p {
  font-size: 16px;
  margin-top: 24px;
  max-width: 200px;
  margin-bottom: 0;
}
.small_event .date__block,
.small_event .event__price {
  display: inline-flex;
  vertical-align: middle;
}
.small_event .event__location {
  margin-top: 10px;
}
.small_event .event__price {
  margin-top: 0px;
  margin-left: 50px;
}
.small_event .red_btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 60px;
}
.small_event .event__img__part {
  height: 360px;
  width: 100%;
}
.event .date__block > p {
  margin-top: 2px;
}
.small_event .event__text__part .date__block > span {
  margin-right: 6px;
  font-size: 22px;
}
.full__size_banner .event {
  padding-bottom: 18px;
  height: calc(100% - 50px);
}
.full__size_banner .event__img__part {
  height: 100%;
}

.right_side__event .event__img__part {
  order: 2;
  margin-right: 0;
  margin-left: 40px;
  margin-right: 0;
}
.more__events {
  display: none;
}
.show_all {
  display: flex;
}

/* events end  */
.more__content {
  display: block;
  text-align: center;
  margin-top: 50px;
  cursor: pointer;
}
.more__content img {
  transition: all 0.5s;
}
.more__content:hover img {
  transform: rotate(-360deg);
}
.more__content > * {
  vertical-align: middle;
}
.more__content span {
  color: #141b23;
  margin-left: 8px;
}
.more__content img {
  margin-top: -3px;
}
.horizontal__baner {
  color: var(--white);
  background-image: url("../img/hor_baner.png");
  display: flex;
  align-items: center;
  height: 160px;
  padding-left: 80px;
  background-repeat: no-repeat;
  margin: 70px 0;
}
.horizontal__baner__date {
  position: relative;
}
.horizontal__baner__date span:first-child {
  font-size: 104px;
  font-weight: 900;
}
.horizontal__baner__date span:last-child {
  transform: rotate(90deg);
  opacity: 0.7;
  font-size: 18px;
  position: absolute;
  right: -50px;
  top: 52px;
}
.horizontal__baner__name {
  font-size: 26px;
  font-weight: 500;
  margin-left: 200px;
}
.small_event .event__text__part {
  display: flex;
  height: 160px;
  flex-wrap: wrap;
  align-content: space-between;
}
.shake_this {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: 0.8;
}

@keyframes shake {
  0% {
    transform: rotate(40deg);
  }
  10% {
    transform: rotate(-40deg);
  }
  20% {
    transform: rotate(40deg);
  }
  30% {
    transform: rotate(-40deg);
  }
  40% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  60% {
    transform: rotate(40deg);
  }
  70% {
    transform: rotate(-40deg);
  }
  80% {
    transform: rotate(40deg);
  }
  90% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

.face a:hover path {
  fill: #577dcb;
  opacity: 1;
}
.tel a:hover path {
  fill: #0790d6;
  opacity: 1;
}
.vk a:hover path {
  fill: #7197c6;
  opacity: 1;
}
.inst a:hover path {
  fill: url("#a");
  opacity: 1;
}
.pay_by a:nth-child(1):hover path {
  fill: #1989db;
  opacity: 1;
}
.pay_by a:nth-child(2):hover path {
  fill: url("#a");
  opacity: 1;
}
.pay_by a:nth-child(3):hover path:first-child {
  fill: #019ade;
  opacity: 1;
}
.pay_by a:nth-child(3):hover path:last-child {
  fill: #2f71e5;
  opacity: 1;
}
.pay_by a:nth-child(4):hover g {
  fill: #2f9ddf;
  opacity: 1;
}
.pay_by a:nth-child(5):hover g {
  fill: #ea6f92;
  opacity: 1;
}
.footer__lists a:hover {
  color: #f43c3c;
  opacity: 1;
}

/* modal  */
.bg__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(38, 42, 47, 0.2);
  z-index: 99999;
  top: 0;
  left: 0;
  display: none;
}
.modal__one {
  width: 560px;
  height: 240px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 12px 14px 0 rgba(38, 42, 47, 0.1);
  padding: 0 62px;
}
.modal__one .red_btn {
  width: 100px;
  margin-top: 32px;
}
.modal__one .red_btn:hover {
  color: var(--white);
}
.modal__one p {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}
.list__places {
  position: absolute;
  background-color: var(--bg_color);
  padding: 10px 15px;
  z-index: 5;
  right: 21px;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  left: -10px;
  margin-top: 5px;
  top: 25px;
  color: var(--white);
  z-index: -1;
  opacity: 0;
  transition: all 0.3s;
}
.banner__location {
  display: flex;
}
.big__banner {
  padding-bottom: 260px;
  background-size: cover;
}
.top__slider__sec {
  opacity: 0.94;
  margin-top: -160px;
}
.event__location {
  position: relative;
}
.more__location {
  cursor: pointer;
}
.more__location:hover > ul {
  z-index: 10;
  opacity: 1;
}
.list__places {
  margin-top: 10px;
}
.top__slide:focus {
  outline: none;
}
/*  our plusses start */
.our_plasses {
  background-color: var(--light_grey_bg);
  padding-top: 80px;
  padding-bottom: 76px;
}
.our_plus {
  text-align: center;
}
.our_plus p:not(.our_plus__title) {
  opacity: 0.8;
}
.our_plus__title {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 500;
}
/*  our plusses end */
/* actual search start */
.actual_search {
  background-color: #e4e6eb;
  padding-top: 87px;
  padding-bottom: 53px;
}
.actual_search__left span {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  color: #000000;
  margin-left: 24px;
}
.actual_search__left * {
  vertical-align: middle;
}
.actual_search__right {
  width: 750px;
}
.actual_search__right form {
  display: flex;
}
.actual_search__right input {
  padding-left: 30px;
  height: 66px;
  width: calc(100% - 260px);
  background-color: var(--white);
  position: relative;
  font-size: 16px;
  color: #141b23;
  border: none;
}
.triengle {
  width: 0;
  height: 0;
  border-top: 33px solid transparent;
  border-bottom: 33px solid transparent;
  border-left: 20px solid var(--white);
}
.actual_search__right button {
  margin-left: 40px;
}
.spam * {
  vertical-align: middle;
}
.spam {
  font-size: 13px;
  margin-top: 18px;
  color: #141b23;
}
.spam img {
  margin-right: 10px;
}
b {
  font-weight: bold;
}
.about_us__home__text {
  font-size: 14px;
  line-height: 1.86;
  color: #000000;
  height: 390px;
  overflow: hidden;
  position: relative;
}
.about_us__home__text::after {
  content: "";
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
}
.all_text {
  display: block;
  width: fit-content;
  color: #141b23;
  margin: 0 auto;
  margin-top: 40px;
  border-bottom: dotted 1px #979797;
  cursor: pointer;
}

.about_us__home__text p {
  margin-bottom: 30px;
}
.about_us__home h2 {
  margin-bottom: 30px;
}
.about_us__home {
  margin-top: 70px;
}
.more_text {
  height: auto;
}
.more_text::after {
  display: none;
}
/* actual search end */

.all_text span:last-child,
.less__text,
.hide_text {
  display: none;
}
.less__text .hide_text {
  display: inline;
}
.all_text:hover {
  color: #f43c3c;
}
.all_text span:last-child.show_txt {
  display: block;
}
.more__content {
  margin-bottom: 70px;
}
/* footer start */
footer {
  background-color: #262a2f;
  backdrop-filter: blur(10px);
  color: var(--white);
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url("../img/footer_bg.png");
  background-repeat: no-repeat;
  margin-top: 70px;
  background-size: cover;
}
.footer__lists {
  display: flex;
  justify-content: space-between;
}
.footer__lists li a {
  opacity: 0.8;
  color: var(--white);
}
.footer__lists li {
  max-width: 170px;
}
.footer__lists li:not(:last-child) {
  margin-bottom: 15px;
}
.soc_col span {
  opacity: 0.8;
  font-size: 14px;
  margin-left: 10px;
}
.soc_col li a * {
  vertical-align: bottom;
}
.event_col .footer__lists {
  justify-content: flex-start;
}
.event_col ul {
  margin-right: 60px;
}
.footer__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 28px;
}
.footer__bottom {
  color: var(--white);
  background-color: #262a2f;
  padding: 32px 0;
}
.footer__bottom .container > * {
  align-items: center;
}
.red_btn:visited,
.red_btn:active {
  border: none;
}
.pay_by,
.made_by,
.made_by a {
  display: flex;
  align-items: center;
}
.made_by span {
  margin-left: 10px;
  font-size: 13px;
  color: var(--white);
}
.pay_by a:not(:last-child) {
  margin-right: 24px;
}
.copy_rights {
  font-size: 13px;
  padding-top: 10px;
}
.soc_col li:not(:last-child) {
  margin-bottom: 12px;
}

.more__checks {
  display: none;
  position: absolute;
  top: 20px;
  right: -13px;
  padding: 15px;
  background-color: var(--light_grey_bg);
  width: 150px;
  z-index: 100;
  border-radius: 10px;
  box-shadow: rgba(241, 242, 246, 0.8) 0px 10px 20px 0px;
}
.more__checks div {
  margin-top: 15px;
}
.more {
  position: relative;
}
.more__checks div:nth-child(-n + 3),
.header__cart img:last-child,
.header__search svg,
.menu__mobile__icon,
.header_filter > .container:first-child,
.mobile__menu,
.footer__title img {
  display: none;
}

.actual_search__right form > div {
  display: flex;
  width: calc(100% - 260px);
  position: relative;
}
.actual_search__right form input {
  width: 100%;
}
.filter_btn {
  width: 120px;
  height: 40px;
  font-size: 12px;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  display: none;
}
.filter_btn span {
  margin-left: 0;
}
.header_filter {
  position: relative;
}
.header__check:not(.more__checks) > div:nth-child(n + 10) {
  display: none;
}
.header__fixed,
.header__fixed .header__cart,
.header__fixed .header__login {
  height: 50px;
}
.header__fixed {
  box-shadow: 0 6px 8px 0 rgba(38, 42, 47, 0.2);
  background-color: #f1f2f6;
}
.header__fixed .header__search input {
  background-color: #f1f2f6;
}
.header__fixed .wrap_cart {
  width: 72px;
}
.header__fixed .header__login {
  margin-right: 0;
  padding: 0 25px;
  margin-left: 0;
  border-left: 1px solid #e7e8e9;
}
.fixed__filter {
  display: none;
}
.header__fixed .wrap_cart img {
  width: 14px;
  height: 16px;
}
.header__fixed .wrap_cart span {
  font-size: 16px;
}
.header__fixed .header__search img {
  height: 50px;
}
.fixed__filter_btn {
  width: 290px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  border-left: 1px solid rgba(231, 232, 233, 0.8);
  height: 50px;
}
.fixed__filter_btn span {
  margin-right: 6px;
}
.city_check_wrap {
  padding: 0 30px 30px 30px;
  width: 290px;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  position: absolute;
  top: 42px;
  left: 0px;
  z-index: 101;
  display: none;
}
.city_input_wrap::after {
  width: 290px;
  height: 1px;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f2f6;
  position: absolute;
  bottom: 0;
  left: -30px;
  content: "";
}
.city_input_wrap {
  position: relative;
}
.city_input_wrap input {
  width: 100%;
  height: 50px;
  padding-right: 20px;
}
.city_check_btn {
  position: absolute;
  top: 17px;
  right: 0px;
}
.city_check {
  padding-top: 30px;
  max-height: 315px;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.check_block > div {
  margin-bottom: 18px;
}
.check_block input {
  margin-right: 8px;
}
.check_block label {
  color: #000;
}
.upArow path,
.fixed_red > svg path {
  fill: #f43c3c;
}
.upArow svg:last-child,
.fixed_red > svg {
  transform: scale(1, -1);
}
.upArow,
.fixed_red > span {
  color: #f43c3c;
}

.header__search {
  position: relative;
}
.autocomplete {
  padding-top: 30px;
  position: absolute;
  top: 80px;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  z-index: 9999999999;
  width: calc(100% - 12px);
  right: -42px;
  display: none;
}
.search_list > div {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  color: #141b23;
  align-items: center;
  margin-bottom: 16px;
}
.search_list {
  padding: 0 30px;
  overflow: scroll;
  max-height: 340px;
}
.events_part {
  display: flex;
  align-items: center;
}
.events_part p {
  font-size: 14px;
  margin-left: 12px;
  width: calc(100% - 75px);
  max-width: 300px;
}
.events_part span {
  font-weight: bold;
}
.date_part {
  display: flex;
}
.date_part span {
  font-size: 22px;
  margin-right: 6px;
}
.date_part > div p:first-child {
  font-size: 12px;
}
.date_part > div p:last-child {
  font-size: 11px;
  opacity: 0.5;
}
.sm_img {
  height: 55px;
  width: 40px;
  position: relative;
  overflow: hidden;
}
.autocomplete > div:last-child {
  width: 100%;
  background-color: #f1f2f6;
  padding: 16px 30px;
  margin-top: 30px;
}
.autocomplete > div:last-child p {
  color: #5b5b5b;
}
.autocomplete > div:last-child p span {
  color: #000000;
}
/* header__fixed */
.header__fixed {
  display: none;
}
.header__fixed .header__check > div:not(.city_check_wrap):not(.calendar_wrap) {
  width: 95px;
  display: flex !important;
  margin-right: 42px;
  margin-top: 20px;
}
.autocomplete2 {
  top: 50px;
}
.header__fixed .mob_filter {
  position: absolute;
  width: 320px;
  height: auto;
  z-index: 99999;
  background-color: var(--white);
  align-items: flex-start;
  padding-bottom: 30px;
  padding-top: 20px;
  top: 50px;
  border-top: 1px solid #f1f2f6;
  flex-direction: column;
  left: 0;
  display: none;
}
.header__fixed .header__search {
  width: 49%;
}
.header__fixed .fixed__filter_btn {
  width: 320px;
}
.header__fixed .header__check {
  width: 100% !important;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.header__fixed .city_input_wrap::after {
  width: 320px;
}
.header__fixed .header__dropdown {
  width: 105px;
}
.header__fixed .header__selects {
  width: auto;
  padding-bottom: 20px;
  position: relative;
}
.header__fixed .header__selects::after {
  content: "";
  width: 320px;
  height: 1px;
  background-color: #e7e8e9;
  position: absolute;
  bottom: 0;
  left: -30px;
}
.header__fixed .city_check_wrap .red_btn,
.header__fixed .calendar_wrap .red_btn {
  height: 50px;
  width: 100%;
}
.header__fixed .header__check .city_check_wrap,
.header__fixed .calendar_wrap {
  position: static;
  width: 100%;
  padding: 0;
  padding-bottom: 20px;
  box-shadow: none;
  margin-top: 0;
  display: none;
}
.header__fixed .city_check {
  max-height: 170px;
}
.header__fixed .date_drop {
  margin-left: 33px;
}
.header__fixed .header__check input[type="checkbox"] {
  margin-right: 11px;
}
#datepicker2 {
  display: none;
}
.calendar_bottom a:hover {
  color: #f43c3c;
}
@media (max-width: 1499.9px) {
  .big__banner {
    background-position-x: center;
  }
  .banner__top {
    background-position-x: 30%;
  }
}
@media (max-width: 1299.9px) {
  .header__lang {
    width: 50px;
  }
  .big__event .event__img__part {
    height: 350px;
    margin-right: 30px;
    width: 250px;
  }
  .big__event {
    height: 350px;
    padding: 30px;
  }
  .big__event .date__block {
    margin-bottom: 20px;
  }
  .small_event .event__img__part {
    height: 342px;
  }
  .full__size_banner .event__img__part {
    height: 500px;
  }
}
#datepicker {
  position: absolute;
  display: none;
}
.calendar_wrap {
  display: none;
  position: absolute;
  z-index: 102;
  left: 0;
  top: 40px;
  width: 290px;
  padding: 30px;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding-top: 10px;
}
.lightpick__day.is-today {
  background-image: none;
  background-color: transparent;
  color: #000;
  border: 1px solid #f1f2f6;
  font-weight: bold;
}
.lightpick__day.is-start-date.is-end-date {
  background-image: none;
}
.lightpick__day.is-end-date.is-in-range,
.lightpick__day.is-start-date.is-in-range,
.lightpick__day.is-start-date.is-in-range,
.lightpick__day.is-end-date.is-in-range.is-flipped,
.lightpick__day.is-end-date.is-in-range,
.lightpick__day.is-start-date.is-in-range.is-flipped,
.lightpick__day.is-in-range {
  border-radius: 0;
  background-color: #f43c3c;
  font-weight: normal;
  color: #fff;
}
.lightpick__day.is-in-range:hover {
  background-image: none;
}
.lightpick__day.is-start-date,
.lightpick__day.is-end-date,
.lightpick__day.is-start-date:hover,
.lightpick__day.is-end-date:hover {
  background-image: none;
  color: #000;
  font-weight: normal;
}
.calendar {
  width: 100%;
  height: auto;
}
.calendar > section {
  position: static !important;
  width: 100%;
}
.lightpick__select.lightpick__select-years {
  display: none;
}
.lightpick__toolbar {
  position: absolute;
  top: calc(50% - 13px);
  left: 0;
  width: 100%;
  justify-content: space-between;
}
.lightpick__month-title-bar {
  position: relative;
  justify-content: center;
  padding-bottom: 19px;
}
.lightpick__next-action {
  transform: scale(-1, 1);
}
.lightpick__toolbar > button {
  background-color: transparent;
  color: transparent;
  background-image: url("../img/ar_cal.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}
.lightpick__days-of-the-week {
  padding-top: 14px;
  opacity: 0.4;
  font-weight: normal;
}
.lightpick__day-of-the-week {
  font-size: 13px;
  font-weight: normal;
}
.lightpick__day {
  height: 26px;
  font-size: 14px;
  cursor: pointer;
}
.calendar_bottom > div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.calendar_bottom {
  position: relative;
}
.event_day {
  background-color: #39c133;
  color: #fff;
}
.calendar_bottom:after,
header.lightpick__month-title-bar::after {
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f2f6;
  content: "";
  width: 290px;
  height: 1px;
  position: absolute;
  top: 0;
  left: -30px;
}
header.lightpick__month-title-bar::after {
  top: auto;
  bottom: 0;
  left: -38px;
}
.calendar_bottom a {
  font-size: 13px;
  color: #000;
  margin-top: 15px;
  display: block;
}
.lightpick__month {
  width: 100%;
}
.lightpick {
  box-shadow: none;
  font-size: 14px;
  font-family: "Montserrat";
}
.lightpick__select.lightpick__select-months {
  font-size: 14px;
  text-transform: capitalize;
}

@media (max-width: 1199.9px) and (min-width: 992px) {
  .events__sec .row > div:nth-child(1) {
    order: 1;
  }
  .events__sec .row > div:nth-child(2) {
    order: 2;
  }
  .events__sec .row > div:nth-child(3) {
    order: 3;
  }
  .events__sec .row > div:nth-child(4) {
    order: 13;
  }
  .events__sec .row > div:nth-child(5) {
    order: 7;
  }
  .events__sec .row > div:nth-child(6) {
    order: 4;
  }
  .events__sec .row > div:nth-child(7) {
    order: 6;
  }
  .events__sec .row > div:nth-child(8) {
    order: 8;
  }
  .events__sec .row > div:nth-child(9) {
    order: 9;
  }
  .events__sec .row > div:nth-child(10) {
    order: 10;
  }
  .events__sec .row > div:nth-child(11) {
    order: 11;
  }
  .events__sec .row > div:nth-child(12) {
    order: 12;
  }
  .events__sec .row > div:nth-child(13) {
    order: 13;
  }
  .events__sec .row > div:nth-child(14) {
    order: 14;
  }
  .events__sec .row > div:nth-child(15) {
    order: 15;
  }
}
@media (max-width: 1199.9px) {
  .banner__date p:first-child {
    font-size: 35px;
    line-height: 35px;
  }
  .banner__date p:last-child {
    font-size: 9px;
  }
  .banner__name {
    font-size: 20px;
    margin-left: 25px;
  }
  .banner__top {
    background-position: 0;
    background-size: 128% 100%;
  }
  .header__check label::before {
    top: 0;
  }
  body {
    font-size: 12px;
  }

  .big__banner {
    padding-top: 60px;
    padding-bottom: 70px;
    background-size: cover;
  }
  .slide__text__part {
    max-width: 100px;
    margin-left: 10px;
  }
  .small_event .event__img__part {
    height: 360px;
  }
  .full__size_banner .small_event .event__img__part {
    height: 500px;
  }
  .small_event .red_btn {
    bottom: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
  }
  .event .red_btn svg {
    width: 18px;
    height: 18px;
  }
  h2 {
    font-size: 30px;
  }
  .events__sec {
    padding-top: 40px;
  }
  .event {
    margin-top: 50px;
  }

  .big__event .event__img__part {
    height: 390px;
    margin-right: 40px;
    width: 280px;
  }
  .big__event {
    height: 400px;
    padding: 40px;
  }
  .event__text__part {
    width: calc(100% - 340px);
  }
  .right_side__event .event__img__part {
    margin-left: 40px;
    margin-right: 0;
  }
  .big__banner__content {
    width: 69%;
  }
  .big__banner {
    padding-bottom: 230px;
  }
  .actual_search .container {
    flex-wrap: wrap;
  }
  .actual_search__right {
    width: 100%;
    margin-top: 50px;
  }
  .copy_rights {
    max-width: 270px;
  }
  .header__check:not(.more__checks) > div:nth-child(n + 8) {
    display: none;
  }
  .more__checks > div:nth-child(n + 2) {
    display: block;
  }
}
@media (max-width: 991.9px) {
  .fixed__filter_btn {
    margin-left: 0;
  }
  .header__fixed .header__login {
    padding: 0 10px;
    width: 50px !important;
  }
  .autocomplete2 {
    right: 0 !important;
  }
  .header__fixed .header__search > img {
    opacity: 0;
  }
  .autocomplete2 .events_part p {
    font-size: 11px;
  }
  .autocomplete2 .search_list {
    padding: 10px;
  }
  .autocomplete {
    right: -31px;
    width: calc(100% - 22px);
  }
  .copy_rights {
    max-width: 211px;
  }
  .made_by {
    max-width: 140px;
  }
  .small_event .event__text__part {
    max-width: 262px;
  }
  .horizontal__baner {
    background-image: url("../img/horizontal_768.png");
    background-size: cover;
  }
  .our_plus {
    max-width: 220px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .our_plasses {
    padding-bottom: 36px;
  }
  .footer__lists ul:not(:first-child) {
    margin-top: 15px;
  }
  .horizontal__baner__name {
    margin-left: 100px;
  }
  .header__logo {
    width: 20%;
  }
  .header__check:not(.more__checks) {
    width: 50%;
  }
  .header__selects {
    width: auto;
  }
  .header__dropdown {
    width: 105px;
  }
  .date_drop {
    margin-left: 30px;
  }
  .header__login span {
    display: none;
  }
  .header__check:not(.more__checks) > div:nth-child(n + 7) {
    display: none;
  }
  .more__checks div:nth-child(n) {
    display: block;
  }
  .header__login {
    width: 100px !important;
    padding: 0 30px;
    margin: 0;
    margin-left: 30px;
  }
  .header__search {
    margin-left: -80px;
  }
  .header__lang {
    width: 80px;
  }
  .header__dropdown select {
    padding-left: 30px;
  }
  .header__top .container {
    padding-right: 0px;
    justify-content: space-between;
  }
  .menu__icon {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .banner__top {
    background-size: cover;
    background-position-x: 35%;
  }
  .big__banner__content > div:last-child {
    margin-top: 30px;
  }
  .big__banner__content {
    width: 90%;
  }
  .big__banner {
    height: 720px;
  }
  .banner__location {
    margin-left: 25px;
  }
  .big__event {
    width: 100%;
    background-size: cover;
    justify-content: space-between;
    height: 400px;
  }
  .event__text__part {
    width: auto;
  }
  .row .big__event__col {
    padding-bottom: 50px;
  }

  .footer__lists {
    flex-wrap: wrap;
  }
  .events__sec .row {
    justify-content: center;
  }
  .top__slider {
    width: 590px;
    margin: 0 auto;
    padding: 0;
  }
  .arrows__block {
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
    right: 0;
    bottom: calc(50% - 12.5px);
  }
  .arrows__block > div {
    width: 15px;
    height: 25px;
    background-size: cover;
  }
  .big__event {
    justify-content: space-around;
  }
  .big__event .event__img__part {
    margin-left: -10px;
    margin-right: 0px;
  }
  .big__event .event__text__part {
    max-width: 250px;
  }

  .events__sec .row > div:nth-child(1) {
    order: 1;
  }
  .events__sec .row > div:nth-child(2) {
    order: 2;
  }
  .events__sec .row > div:nth-child(3) {
    order: 3;
  }
  .events__sec .row > div:nth-child(4) {
    order: 6;
  }
  .events__sec .row > div:nth-child(5) {
    order: 5;
  }
  .events__sec .row > div:nth-child(6) {
    order: 4;
  }
  .events__sec .row > div:nth-child(7) {
    order: 6;
  }
  .events__sec .row > div:nth-child(8) {
    order: 8;
  }
  .events__sec .row > div:nth-child(9) {
    order: 9;
  }
  .events__sec .row > div:nth-child(10) {
    order: 11;
  }
  .events__sec .row > div:nth-child(11) {
    order: 12;
  }
  .events__sec .row > div:nth-child(12) {
    order: 10;
  }
  .events__sec .row > div:nth-child(13) {
    order: 13;
  }
  .events__sec .row > div:nth-child(14) {
    order: 14;
  }
  .events__sec .row > div:nth-child(15) {
    order: 15;
  }
}
@media (max-width: 767.9px) {
  .autocomplete {
    width: 100vw;
    right: -78px;
    top: 104px;
  }
  .banner__top,
  .header__top,
  .header_filter {
    z-index: auto;
  }
  .desk_filter_btn {
    display: none !important;
  }
  .invalid {
    top: 0;
    max-width: none;
    left: 10px;
    right: auto;
    font-size: 12px;
  }
  .banner__top,
  .header__login,
  .header__search img,
  .header__search form,
  .header__lang,
  .header_filter .mob_filter {
    display: none;
  }
  .header_filter {
    padding: 15px 0;
  }
  .header_filter .container:first-child {
    justify-content: center;
  }
  .top__slider {
    width: calc(100% - 80px);
  }

  .mobile__filter__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile__filter__btn span {
    font-size: 13px;
    color: #5b5b5b;
    margin-left: 40px;
    margin-right: 40px;
  }
  .mob_filter {
    flex-direction: column;
  }

  .header__search {
    width: auto;
  }
  .header__logo {
    width: auto;
    position: absolute;
    top: calc(50% - 20px);
    left: 50%;
    transform: translate(-50%, 0);
  }
  .header__top .container {
    justify-content: flex-end;
    position: relative;
    padding-right: 30px;
  }
  .header__cart img:first-child,
  .header__cart span {
    display: none;
  }
  .header__cart img:last-child,
  .header__search svg,
  .menu__mobile__icon {
    display: block;
  }
  .header_filter > .container:first-child {
    display: flex;
  }
  .menu__mobile__icon {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translate(0, -50%);
  }
  .header__cart {
    background-color: transparent;
  }
  .wrap_cart {
    width: auto;
    margin-left: 30px;
  }
  .big__banner__content {
    width: 100%;
  }
  .big__banner {
    background-position-x: 20%;
    background-size: cover;
  }
  .small_event .event__img__part {
    height: auto;
  }
  h1 {
    font-size: 59px;
  }
  .header_filter .mob_filter,
  .mobile__menu {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 9;
    background-color: var(--white);
    align-items: flex-start;
    padding-bottom: 30px;
    padding-top: 20px;
    top: 45px;
    display: none;
    border-top: 1px solid #f1f2f6;
  }
  .header__check {
    width: 290px !important;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .header__check > div:not(.city_check_wrap):not(.calendar_wrap) {
    width: 95px;
    display: flex !important;
    margin-right: 42px;
    margin-top: 20px;
  }
  .header__check input[type="checkbox"] {
    margin-right: 11px;
  }
  .date_drop {
    margin-left: 33px;
  }
  .header__selects {
    padding-bottom: 20px;
    position: relative;
  }
  .header__selects::after {
    content: "";
    width: 100vw;
    height: 1px;
    background-color: #e7e8e9;
    position: absolute;
    bottom: 0;
    left: -30px;
  }
  .header__check .more,
  .header__check .more.mobile__more {
    display: none !important;
  }
  .header_filter {
    position: relative;
  }
  .red_filter,
  .red {
    background-color: var(--white);
    z-index: 9999;
  }
  .red .mobile__filter__btn span {
    color: #f43c3c;
  }
  .red .mobile__filter__btn path {
    fill: #f43c3c;
  }
  .red .mobile__filter__btn svg:last-child {
    transform: scale(1, -1);
  }
  .red_icon path {
    fill: #f43c3c;
  }
  .header__search {
    position: relative;
  }
  .header__search form {
    position: absolute;
    width: 100vw;
    z-index: 9;
    background-color: var(--white);
    align-items: flex-start;
    top: 50px;
    right: -79px;
    height: 54px;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 12px 14px 0 rgba(38, 42, 47, 0.1);
    border-top: 1px solid #f1f2f6;
  }

  .black__field {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0.2;
    background-color: #262a2f;
    z-index: 4;
  }
  .bg_viz {
    display: block;
  }
  .index {
    z-index: 99;
  }
  .header__top {
    background-color: var(--white);
  }
  header {
    position: relative;
    z-index: 99;
  }
  .mobile__menu {
    position: absolute;
    top: 79px;
    left: 0px;
    width: 100vw;
    padding: 16px 20px;
    border-top: 1px solid #f1f2f6;
    justify-content: space-between;
    align-items: center;
  }
  .mobile__menu ul {
    display: none;
  }
  .mobile__lang {
    font-size: 14px;
    color: #000000;
  }
  .mobile__lang p {
    opacity: 0.5;
    margin-bottom: 6px;
  }
  .mobile__lang span {
    display: flex;
    align-items: center;
  }
  .mobile__lang span svg {
    margin-left: 8px;
  }
  .mobile__menu__active {
    height: auto;
  }
  .mobile__menu__active ul {
    display: block;
  }
  .mobile__lang li {
    margin-top: 10px;
  }
  .mobile__menu .header__login {
    display: flex;
    height: auto;
    border: none;
    width: auto !important;
  }
  .mobile__menu .header__login span {
    display: inline;
  }
  .mobile__menu::after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #e7e8e9;
    position: absolute;
    bottom: 0;
    right: 150px;
  }
  footer .col-lg-6.col-md-4 {
    margin-bottom: 30px;
  }
  .big__event .event__text__part {
    max-width: 200px;
  }
  .big__event {
    padding: 30px;
    height: 360px;
  }
  .big__event .event__img__part {
    margin-right: 20px;
  }
  .right_side__event {
    margin-right: 0;
    margin-left: 20px;
  }
  .footer__bottom .container {
    flex-wrap: wrap;
  }
  .pay_by {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
  }
  .made_by {
    max-width: none;
  }
  .header__check .city_check_wrap,
  .calendar_wrap {
    position: static;
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
    box-shadow: none;
    margin-top: 0;
    display: none;
  }
  .city_check {
    max-height: 170px;
  }
  .city_check_wrap .red_btn,
  .calendar_wrap .red_btn {
    height: 50px;
    width: 100%;
  }
  .city_input_wrap::after,
  .calendar_bottom:after,
  header.lightpick__month-title-bar::after {
    width: 100%;
    left: 0;
  }
  .more {
    display: none;
  }
  .header__fixed {
    display: none;
  }
  .events_part img {
    display: block;
  }
  .header__check.just_btwn > .more.mobile__more {
    display: none !important;
  }
}
@media (max-width: 575.9px) {
  .search_list {
    max-height: 180px;
  }
  .events_part p {
    font-size: 12px;
  }
  .autocomplete {
    right: -52px;
    top: 84px;
  }
  .actual_search__right form > div {
    width: 100%;
  }
  .invalid {
    left: 10px;
    top: 0px;
    bottom: auto;
  }
  .mobile__menu {
    top: 60px;
  }
  .header__search form {
    top: 40px;
    right: -52px;
  }
  .header__logo {
    width: 105px;
  }
  .header__cart {
    height: auto;
  }
  .header__cart img {
    width: 18px;
    height: 22px;
  }
  .menu__mobile__icon {
    left: 20px;
  }
  .header__top {
    height: 62px;
  }
  .header__top .container {
    padding-right: 20px;
    height: 100%;
  }
  .wrap_cart {
    margin-left: 14px;
  }
  .header__logo {
    top: calc(50% - 17.5px);
  }
  .mobile__filter__btn {
    width: 100%;
    justify-content: flex-start;
    position: relative;
  }
  .mobile__filter__btn svg:last-child {
    position: absolute;
    right: 0;
    top: 6px;
  }
  .big__banner {
    height: auto;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  .slide__text__part {
    display: none;
  }
  .big__banner {
    background-image: url("../img/bg_320.png");
    padding-top: 40px;
    padding-bottom: 160px;
    height: 581px;
  }
  .big__banner__content h1 {
    margin-bottom: 48px;
  }

  .big__banner .red_btn {
    order: 3;
    width: 100%;
    margin-top: 40px;
    height: 50px;
  }
  .big__banner__content > div:last-child {
    flex-wrap: wrap;
    margin-top: 16px;
  }
  .banner__location {
    margin-left: 0;
  }
  .red_btn img {
    width: 22px;
    height: 22px;
  }
  .top__slider__sec {
    padding: 19px 0;
    margin-top: -120px;
  }
  .slide__img__part {
    height: 82px;
    width: 60px;
  }
  .arrows__block {
    padding: 0 20px;
  }
  .arrows__block > div {
    width: 12px;
    height: 20px;
  }
  .top__slider {
    width: calc(100% - 60px);
  }

  .big__event .event__img__part {
    width: 69%;
    height: auto;
    margin: 0;
    margin-top: -30px;
  }
  .row .big__event__col {
    padding-top: 30px;
    padding-bottom: 0;
  }
  .big__event {
    padding-top: 0;
  }
  .big__event .event__text__part {
    max-width: none;
    margin-top: 25px;
  }
  .big__event .event__text__part > p {
    font-size: 18px;
    margin-bottom: 14px;
  }
  .big__event .red_btn {
    width: 100%;
    height: 50px;
    margin-top: 25px;
  }
  .big__event .date__block {
    margin-bottom: 14px;
  }
  .small_event .event__img__part {
    height: auto;
  }
  .small_event .red_btn svg {
    width: 16px;
    height: 16px;
  }
  .event {
    margin-top: 20px;
  }
  .small_event .event__text__part {
    height: auto;
    max-width: none;
  }
  .small_event .event__text__part > p {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 12px;
  }
  .event__details {
    margin-top: 18px;
  }
  .small_event .event__price {
    margin-left: 0;
    margin-top: 12px;
  }
  .small_event .event__text__part .date__block > span {
    margin-left: 0;
  }
  .full__size_banner .small_event .event__img__part {
    height: auto;
  }
  .right_side__event .event__img__part {
    order: 1;
  }
  .right_side__event .event__text__part {
    order: 2;
  }
  .right_side__event {
    margin-left: 0;
  }
  .horizontal__baner {
    background-image: url("../img/hoz_320.png");
    height: 170px;
    flex-direction: column;
    padding-left: 0;
    align-items: center;
    margin: 30px 0;
  }
  .horizontal__baner__name {
    margin-left: 0;
    font-size: 20px;
    text-align: center;
  }
  .horizontal__baner__date {
    padding-top: 17px;
  }
  .horizontal__baner__date span:first-child {
    font-size: 62.4px;
  }
  .horizontal__baner__date span:last-child {
    font-size: 10.8px;
    right: -32px;
  }
  .our_plus {
    display: flex;
    text-align: left;
    margin: 0;
    max-width: none;
    justify-content: space-between;
  }
  .our_plus img {
    max-width: 50px;
    max-height: 53px;
  }
  .our_plus > div {
    max-width: 75%;
  }
  .our_plus__title {
    font-size: 12px;
    margin: 0;
    margin-top: 12px;
  }
  .actual_search__left img {
    width: 48px;
    height: 48px;
  }
  .actual_search__left span {
    font-size: 18px;
    margin-left: 14px;
  }
  .actual_search__right form {
    flex-direction: column;
  }
  .actual_search__right input {
    width: 100%;
    height: 54px;
    font-size: 14px;
  }
  .actual_search__right button {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    height: 50px;
  }
  .actual_search {
    padding: 32px 0;
  }
  .triengle {
    display: none;
  }
  .about_us__home__text {
    font-size: 13px;
  }
  .about_us__home__text p {
    margin-bottom: 20px;
  }
  .about_us__home {
    margin-top: 30px;
  }
  /*  */
  .modal__one {
    width: calc(100% - 60px);
    padding: 0 30px;
  }
  .modal__one p {
    font-size: 18px;
  }
  .big__event {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
  }
  .event__text__part {
    width: 100%;
  }
  .footer__title img {
    display: block;
  }
  .footer__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__lists {
    display: none;
  }
  footer .col-lg-6.col-md-4 {
    margin-bottom: 0;
  }
  .footer__title {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  footer {
    padding: 30px 0;
  }
  .footer__bottom {
    text-align: center;
    padding: 20px 0;
  }
  .footer__bottom .container {
    justify-content: center;
  }
  .made_by {
    margin-top: 20px;
    margin-bottom: 24px;
  }
  .header__login {
    padding-right: 0;
  }
  .mobile__menu::after {
    right: 120px;
  }
}
@media (min-width: 992px) {
  .close__btn,
  .mobile__menu .header__login,
  .mobile__menu .header__search,
  .mobile__menu .header__lang,
  .head__mobile,
  .mobile__more {
    display: none;
  }
}
@media (min-width: 768px) {
  .filter_btn:not(.desk_filter_btn) {
    display: none !important;
  }
}
