@import url("reset.css");
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
  font-size: 14px;
  line-height: normal;
}
:root {
  --black: #000;
  --white: #fff;
  --bg_color: #262a2f;
  --light_grey_bg: #f1f2f6;
  --grey-text: #5b5b5b;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

input,
button :focus,
select {
  outline: none;
}
input:focus,
button:focus,
select:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.just_center {
  display: flex;
  justify-content: center;
}
.just_btwn {
  display: flex;
  justify-content: space-between;
}
.container {
  padding: 0 30px;
}
.row {
  margin: 0 -30px;
}
.row > div {
  padding: 0 30px;
}
@media (min-width: 1300px) {
  .container {
    max-width: 1296px;
  }
}
/* banner top  start  */
.banner__top {
  color: var(--white);
  background-color: var(--bg_color);
  padding-bottom: 13px;
  padding-top: 8px;
  background-image: url("../img/bitmap.png");
  background-repeat: no-repeat;
}
header .container,
.banner__top .container,
.header_filter .container {
  display: flex;
  align-items: center;
}
.banner__date p:first-child {
  font-size: 44px;
  font-weight: 900;
  line-height: 44px;
}
.banner__date p:last-child {
  opacity: 0.7;
  font-size: 12px;
}
.banner__name {
  font-size: 23px;
  font-weight: 500;
  margin-left: 35px;
}

/* banner top end  */
/* hovers */
.header__logo img,
.header__lang span:after,
.header__lang li,
.header__login img,
.header__cart img,
.header__search button,
.header__dropdown select,
.header__dropdown img,
.header__check > div label,
.more,
.red_btn,
.red_btn span,
.event__img__part img,
.banner__location {
  transition: all 0.3s;
}

.header__lang li:hover,
.header__search button:hover,
.header__login:hover img,
.header__cart:hover img,
.more:hover {
  transform: scale(1.2);
}

.header__check > div:hover label,
.header__logo:hover img,
.header__dropdown:hover select,
.red_btn:hover,
.event__img__part:hover img,
.banner__location:hover {
  transform: scale(1.1);
}
.header__lang:hover span::after {
  margin-top: 5px;
}
.header__dropdown:hover select {
  color: #000;
}
.header__dropdown:hover img {
  opacity: 0.4;
}
.red_btn:hover span {
  color: white;
}
.red_btn:active {
  box-shadow: rgba(249, 159, 159, 0.8) 0px 10px 20px 0px;

  transform: scale(0.98);
}

/*  */
/* header start */

.header__logo {
  width: 11.3%;
}

.header__lang {
  position: relative;
  cursor: pointer;
  margin-left: 30px;
  width: 3.4%;
}
.header__lang ul {
  position: absolute;
  width: 60px;
  background-color: #fff;
  padding: 10px 15px;
  z-index: 5;
  right: 21px;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  left: -10px;
  margin-top: 5px;
  display: none;
}
.header__lang li:last-child {
  margin-top: 10px;
}
.header__lang span {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
}
.header__lang span::after {
  content: "";
  display: inline-block;
  height: 8px;
  width: 10px;
  background-image: url("../img/angle-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 5px;
  vertical-align: middle;
}
.header__search {
  display: flex;
  width: 55.5%;
}
.header__search form {
  margin-left: 50px;
  width: calc(100% - 70px);
  display: flex;
  align-items: center;
}

.header__search input {
  width: calc(100% - 20px);
  height: 100%;
  border: none;
}
.header__search button {
  width: 17px;
  height: 17px;
  background-image: url("../img/search.svg");
  background-color: transparent;
  border: none;
  vertical-align: middle;
  background-repeat: no-repeat;
}
.header__login,
.header__cart {
  display: flex;
  align-items: center;
}
.header__login {
  margin-left: 7.5%;
  margin-right: 3.5%;
}
.header__login span {
  font-weight: bold;
  margin-left: 10px;
  color: var(--black);
}
.wrap_cart {
  width: 13.1%;
}
.header__cart {
  height: 100%;
  background-color: #f43c3c;
  width: 100%;
  height: 80px;
}
.header__cart span {
  font-size: 18px;
  font-weight: bold;
  color: var(--white);
  margin-left: 10px;
}
.header__login,
.header__cart,
.header__search button,
.more {
  cursor: pointer;
}
/* header botttom */
.header_filter {
  background-color: var(--light_grey_bg);
  padding: 22px 0;
}

/* check box  start */
.header__check {
  width: 67.6%;
}
.header__check label {
  position: relative;
  color: #5b5b5b;
  cursor: pointer;
}
.header__check input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
}
.header__check label::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: 1px;
  left: -26px;
  height: 16px;
  width: 16px;
  border: solid 1px #c5c6ca;
  cursor: pointer;
}
.header__check > div {
  cursor: pointer;
}
.header__check label::after {
  cursor: pointer;
  position: absolute;
  content: "";
  display: inline-block;
  height: 6px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  left: -22px;
  top: 3px;
  transform: rotate(-45deg);
}
.header__check input[type="checkbox"] + label::after {
  content: none;
}
.header__check input[type="checkbox"]:checked + label::after {
  content: "";
}
/* check box end */
/* dropdown start */

.header__dropdown {
  position: relative;
  float: right;
  overflow: hidden;
  float: right;
  background: url("../img/drop.svg") no-repeat 95%;
}

.header__dropdown select {
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding-left: 26px;
  color: #919394;
  height: 20px;
  width: 100%;
  padding-right: 20px;
}
.header__dropdown img {
  position: absolute;
  left: 0;
}
.header__selects {
  width: 23%;
}
/* dropdown end */
.menu__icon {
  display: none;
}
/* header end */
/* big banner  start */
.big__banner {
  background-image: url("../img/big_baner.png");
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 94px;
  color: var(--white);
}
h1 {
  font-size: 60px;
  font-weight: bold;
}
.big__banner__content h1 {
  margin-bottom: 25px;
}
.big__banner__content {
  width: 50%;
}
.big__banner__date > span {
  font-size: 40px;
}
.date__block div {
  display: inline-block;
}
.big__banner__date div p:first-child {
  font-size: 18px;
}
.date__block div p:last-child {
  opacity: 0.5;
}
.red_btn {
  width: 229px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f43c3c;
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
}
.red_btn span {
  margin-left: 14px;
}
.big__banner__content > div:last-child {
  display: flex;
  margin-top: 48px;
  align-items: center;
}
.banner__location div {
  display: inline-block;
  color: var(--white);
  max-width: 220px;
}
.banner__location {
  margin-left: 40px;
}
.banner__location img {
  margin-right: 14px;
}
/* big banner  end */

/* slider top start */
.top__slider__sec {
  background-color: var(--bg_color);
  padding: 32px 0;
}
.top__slider__sec .container {
  position: relative;
}
.top__slider {
  padding-right: 42px;
}
.top__slide {
  color: var(--white);
  display: flex !important;
}
.slide__text__part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 64%;
  max-width: 170px;
  margin-left: 20px;
}
.slide__img__part {
  width: 70px;
  overflow: hidden;
  position: relative;
  height: 96px;
}
.slide__img__part img {
  max-height: 100%;
}
.slide__text__part > p {
  font-weight: 500;
}
.slide__text__part .date__block {
  display: flex;
  opacity: 0.8;
}
.slide__text__part .date__block span {
  margin-right: 6px;
  font-size: 20px;
}
.slide__text__part .date__block div p:first-child {
  font-size: 12px;
}
.slide__text__part .date__block div p:last-child {
  font-size: 11px;
}
.arrow_prev,
.arrow_next {
  width: 10px;
  height: 20px;
  background-image: url("../img/slie_ar_white.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}
.arrows__block {
  display: flex;
  position: absolute;
  bottom: -20px;
  right: 30px;
}
.arrow_prev {
  transform: scale(-1, 1);
  margin-right: 15px;
}
.slick-arrow.slick-disabled {
  background-image: url("../img/slide_arow.svg");
}
.arrow_prev.slick-disabled {
  transform: scale(1, 1);
}
.arrow_next.slick-disabled {
  transform: scale(-1, 1);
}
.top__slide.slick-current {
  position: relative;
}
.top__slide.slick-current::after,
.top__slide.slick-current::before {
  position: absolute;
  content: "";
  left: 0;
  z-index: 1;
}
.top__slide.slick-current::before {
  width: 30px;
  height: 30px;
  top: 0%;
  background-image: url("../img/hot.svg");
}
.top__slide.slick-current::after {
  width: 41px;
  height: 2px;
  bottom: 0;
  background-color: #f43c3c;
}
/* slider end */
/* events start */
.big__event {
  display: flex;
  padding: 40px;
  padding-bottom: 0px;
  background-image: url("../img/event_bg.png");
  background-repeat: no-repeat;
  color: var(--white);
}
.event__img__part {
  position: relative;
  overflow: hidden;
  height: 390px;
  margin-right: 40px;
  width: 280px;
}
.event__text__part {
  width: calc(100% - 320px);
}
.event__text__part > p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.event__text__part .date__block {
  display: flex;
  align-items: flex-start;
}
.event__text__part .date__block > span {
  font-size: 30px;
  margin-left: 8px;
  margin-right: 12px;
}
.event__text__part .date__block div p:last-child {
  font-size: 12px;
  opacity: 0.5;
}
.event__text__part .red_btn {
  width: 159px;
  margin-top: 35px;
}
.event__details {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.event__details img {
  width: 16px;
  height: 20px;
  margin-right: 8px;
}
.big__event .date__block {
  margin-bottom: 60px;
}
.event__location span {
  border-bottom: 1px dotted white;
}
h2 {
  font-size: 40px;
  font-weight: bold;
}
.events__sec {
  padding-top: 70px;
}
.event {
  margin-top: 40px;
}
.small_event .event__text__part {
  width: auto;
}
.small_event .event__text__part > p {
  font-size: 16px;
  margin-top: 24px;
  max-width: 200px;
  margin-bottom: 0;
}
.small_event .date__block,
.small_event .event__price {
  display: inline-flex;
  vertical-align: middle;
}
.small_event .event__location {
  margin-top: 10px;
}
.small_event .event__price {
  margin-top: 0px;
  margin-left: 50px;
}
.small_event .red_btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 60px;
}
.small_event .event__img__part {
  height: 360px;
  width: 100%;
}
.event .date__block > p {
  margin-top: 2px;
}
.small_event .event__text__part .date__block > span {
  margin-right: 6px;
  font-size: 22px;
}
/* events end  */
.small_event .event__text__part {
  display: flex;
  height: 160px;
  flex-wrap: wrap;
  align-content: space-between;
}
.shake_this {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: 0.8;
}

@keyframes shake {
  0% {
    transform: rotate(40deg);
  }
  10% {
    transform: rotate(-40deg);
  }
  20% {
    transform: rotate(40deg);
  }
  30% {
    transform: rotate(-40deg);
  }
  40% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  60% {
    transform: rotate(40deg);
  }
  70% {
    transform: rotate(-40deg);
  }
  80% {
    transform: rotate(40deg);
  }
  90% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

/* modal  */
.bg__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(38, 42, 47, 0.2);
  z-index: 99999;
  top: 0;
  left: 0;
  display: none;
}
.modal__one {
  width: 560px;
  height: 240px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 12px 14px 0 rgba(38, 42, 47, 0.1);
  padding: 0 62px;
}
.modal__one .red_btn {
  width: 100px;
  margin-top: 32px;
}
.modal__one .red_btn:hover {
  color: var(--white);
}
.modal__one p {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}
.list__places {
  position: absolute;
  background-color: var(--bg_color);
  padding: 10px 15px;
  z-index: 5;
  right: 21px;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  left: -10px;
  margin-top: 5px;
  top: 25px;
  color: var(--white);
  z-index: -1;
  opacity: 0;
  transition: all 0.3s;
}
.banner__location {
  display: flex;
}
.big__banner {
  padding-bottom: 260px;
  background-size: cover;
}
.top__slider__sec {
  opacity: 0.94;
  margin-top: -160px;
}
.event__location {
  position: relative;
}
.more__location {
  cursor: pointer;
}
.more__location:hover > ul {
  z-index: 10;
  opacity: 1;
}
.list__places {
  margin-top: 10px;
}
.top__slide:focus {
  outline: none;
}
@media (max-width: 1499.9px) {
  .big__banner {
    background-position-x: center;
  }
  .banner__top {
    background-position-x: 30%;
  }
}
@media (max-width: 1299.9px) {
  .header__lang {
    width: 50px;
  }
  .big__event .event__img__part {
    height: 350px;
    margin-right: 30px;
    width: 250px;
  }
  .big__event {
    height: 350px;
    padding: 30px;
  }
  .big__event .date__block {
    margin-bottom: 30px;
  }
  .small_event .event__img__part {
    height: 310px;
  }
}
@media (max-width: 1199.9px) {
  .top__slider__sec {
    opacity: 1;
    margin-top: 0px;
  }
  .banner__date p:first-child {
    font-size: 35px;
    line-height: 35px;
  }
  .banner__date p:last-child {
    font-size: 9px;
  }
  .banner__name {
    font-size: 20px;
    margin-left: 25px;
  }
  .banner__top {
    background-position: 0;
    background-size: 128% 100%;
  }
  .header__cart {
    height: 60px;
  }
  .header__search {
    height: 60px;
  }
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 45px;
  }
  .big__banner {
    padding-top: 60px;
    padding-bottom: 70px;
    background-size: cover;
  }
  .slide__text__part {
    max-width: 100px;
    margin-left: 10px;
  }
  .banner__location img {
    width: 15px;
    height: 20px;
    margin-right: 10px;
  }
  .banner__location a {
    display: flex;
  }
  .small_event .event__img__part {
    height: 248px;
  }
  .small_event .red_btn {
    bottom: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
  }
  .event .red_btn img {
    width: 18px;
    height: 18px;
  }
  h2 {
    font-size: 30px;
  }
  .events__sec {
    padding-top: 40px;
  }
  .event {
    margin-top: 30px;
  }
  .big__event .event__img__part {
    height: 267px;
    margin-right: 20px;
    width: 190px;
  }
  .big__event {
    height: 266px;
    padding: 25px;
  }
  .event__text__part {
    width: calc(100% - 210px);
  }
  .event__text__part > p {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .event__text__part .red_btn {
    height: 40px;
    width: 100px;
    font-size: 12px;
    margin-top: 15px;
  }
  .event__text__part .red_btn span {
    margin-left: 10px;
  }
  .big__event .date__block {
    margin-bottom: 15px;
  }
  .small_event .event__price {
    margin-left: 20px;
  }
}

@media (max-width: 991.9px) {
  .header__dropdown select {
    padding-left: 30px;
  }
  .header__login,
  .header__search,
  .header__lang {
    display: none;
  }
  .menu__icon {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .mobile__menu {
    position: absolute;
    top: -100vh;
    left: 0;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: var(--light_grey_bg);
    padding-top: 40px;
    transition: all 0.5s;
  }
  .header_filter {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .header_filter .container {
    flex-direction: column;
  }
  .header__check {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
  }
  .header__check > div {
    width: 40%;
    padding-left: 11px;
    margin-top: 20px;
  }
  .header__selects {
    width: 100%;
  }
  .header__dropdown {
    width: 40%;
  }

  .head__mobile > div > div {
    width: 30%;
    margin: 0;
  }
  .header__search {
    width: 100%;
  }
  .header__search form {
    margin-left: 0px;
    width: 100%;
  }
  .header__search input {
    background-color: transparent;
  }
  .more {
    display: none;
  }
  .mobile__more {
    display: block;
  }
  .close__btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    z-index: 100;
  }

  /* search */
  .search_block {
    position: relative;
    width: 10% !important;
  }

  .search_block form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 0px;
    position: absolute;
    right: 0px;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-color: #1a1a1a;
    top: 0;
    transition: all 0.5s;
    z-index: -10;
    border-radius: 5px;
    opacity: 0;
  }
  form input {
    width: calc(100% - 25px);
    background-color: #1a1a1a;
    border: none;
    color: white;
  }
  .search_block .active_search {
    width: 280px;
    z-index: 1000;
    opacity: 1;
  }
  #search_submit {
    border: none;
    background-color: var(--light_grey_bg);
  }
  .head__mobile {
    position: absolute;
    bottom: 50px;
    left: 0%;
    width: 100%;
  }
  .header__login {
    width: 45% !important;
  }
  .mobile__menu .header__login,
  .mobile__menu .header__search,
  .mobile__menu .header__lang {
    display: block;
  }
  .header__top .container {
    display: flex;
    justify-content: space-between;
  }
  .wrap_cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
  }
  .header__cart {
    width: 80px;
    margin-right: 30px;
  }
  .header__logo {
    width: 30%;
  }
  .banner__top {
    background-size: 162% 100%;
    background-position-x: 26%;
  }
  h1 {
    font-size: 30px;
  }
  .red_btn {
    height: 40px;
    width: 200px;
    font-size: 12px;
  }
  .red_btn img {
    width: 18px;
    height: 18px;
  }
  .red_btn span {
    margin-left: 10px;
  }
  .big__banner__content > div:last-child {
    margin-top: 30px;
  }
  .big__banner {
    padding: 50px 0;
  }
  .banner__location {
    margin-left: 25px;
  }
  .big__event {
    width: 100%;
    background-size: cover;
    justify-content: space-between;
    height: 320px;
  }
  .big__event .event__img__part {
    height: 350px;
    margin-right: 30px;
    width: 250px;
  }
  .event__text__part {
    width: calc(100% - 320px);
  }
  .event {
    margin-top: 40px;
  }
  .row .big__event__col {
    padding-bottom: 50px;
  }
  .small_event .event__img__part {
    height: 310px;
  }
}
@media (max-width: 767.9px) {
  .banner__top {
    background-image: none;
  }
  .big__banner__content {
    width: 100%;
  }
  .big__banner {
    background-position-x: 20%;
    background-size: cover;
  }
  .small_event .event__img__part {
    height: 290px;
  }
}
@media (max-width: 575.9px) {
  .modal__one {
    width: calc(100% - 60px);
    padding: 0 30px;
  }
  .modal__one p {
    font-size: 18px;
  }
  .big__event {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
  }

  .event__text__part {
    width: 100%;
  }
  .event__details {
    display: inline-flex;
  }
  .big__event .event__location {
    margin-left: 20px;
  }
  .event__text__part .red_btn {
    width: 100%;
    height: 60px;
  }
  .big__event .event__img__part {
    height: auto;
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .slide__text__part {
    max-width: 200px;
  }
  h2 {
    font-size: 25px;
  }
  .events__sec {
    padding-top: 30px;
  }
  .wrap_cart {
    width: 50%;
  }
  .header__cart span {
    font-size: 12px;
    margin-left: 8px;
  }
  .header__cart img {
    width: 16px;
    height: 14px;
  }
  .big__banner .red_btn {
    order: 3;
    width: 100%;
    margin-top: 15px;
  }
  .big__banner__content > div:last-child {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: left;
    align-items: flex-start;
  }
  .banner__location {
    margin-left: 0;
  }
  .small_event .event__location {
    width: 100%;
  }
  .small_event .event__text__part > p {
    max-width: none;
  }
  .small_event .event__img__part {
    width: fit-content;
    margin: 0 auto;
    height: 364px;
  }
  .small_event .event__text__part {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .close__btn,
  .mobile__menu .header__login,
  .mobile__menu .header__search,
  .mobile__menu .header__lang,
  .head__mobile,
  .mobile__more {
    display: none;
  }
}
